<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NV9P7TWD');</script>
    <!-- End Google Tag Manager -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
      >
    <title>{{ title }}</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NV9P7TWD"
              height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <section class="section">
      <div class="columns">
        <div class="column is-3"></div>
        <div class="column">
          <div class="content">
            <h1>{{ title }}</h1>
            <p class="subtitle is-6 has-text-right">{{ date }}</p>

            <div class="block">
              <figure class="image">
                <img src="{{ image_url }}"/>
              </figure>
            </div>

            <div class="block">{{ body }}</div>
          </div>
        </div>
        <div class="column is-3"></div>
      </div>
    </section>
  </body>
</html>
